.test {
  border: solid red 1em;
  padding: 1px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
  flex-grow: 1;
}

.top-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
